<h1 class="winner-h1">{{result}}</h1>
<div id="stats">
    <table>
        <tr>
            <td class="col-head">{{firstPlayerStats.firstName}} {{firstPlayerStats.lastName}}</td>
        </tr>
        <tr>
            <td class="col-head">{{firstPlayerStats.game}}</td>
        </tr>
        <tr>
            <td>Acceleration</td>
            <td class="col-vals">{{firstPlayerStats.acceleration}}</td>
        </tr>
        <tr>
            <td>Speed</td>
            <td class="col-vals">{{firstPlayerStats.speed}}</td>
        </tr>
        <tr>
            <td>Strength</td>
            <td class="col-vals">{{firstPlayerStats.strength}}</td>
        </tr>
        <tr>
            <td>Agility</td>
            <td class="col-vals">{{firstPlayerStats.agility}}</td>
        </tr>
        <tr>
            <td>Kick Power</td>
            <td class="col-vals">{{firstPlayerStats.kickPower}}</td>
        </tr>
        <tr>
            <td>Tackle</td>
            <td class="col-vals">{{firstPlayerStats.tackle}}</td>
        </tr>
        <tr>
            <td>Jumping</td>
            <td class="col-vals">{{firstPlayerStats.jumping}}</td>
        </tr>
        <tr>
            <td>Stamina</td>
            <td class="col-vals">{{firstPlayerStats.stamina}}</td>
        </tr>

    </table>
</div>
<div id="stats-right">
    <table>
        <table>
            <tr>
                <td class="col-head">{{secondPlayerStats.firstName}} {{secondPlayerStats.lastName}}</td>
            </tr>
            <tr>
                <td class="col-head">{{secondPlayerStats.game}}</td>
            </tr>
            <tr>
                <td>Acceleration</td>
                <td class="col-vals">{{secondPlayerStats.acceleration}}</td>
            </tr>
            <tr>
                <td>Speed</td>
                <td class="col-vals">{{secondPlayerStats.speed}}</td>
            </tr>
            <tr>
                <td>Strength</td>
                <td class="col-vals">{{secondPlayerStats.strength}}</td>
            </tr>
            <tr>
                <td>Agility</td>
                <td class="col-vals">{{secondPlayerStats.agility}}</td>
            </tr>
            <tr>
                <td>Kick Power</td>
                <td class="col-vals">{{secondPlayerStats.kickPower}}</td>
            </tr>
            <tr>
                <td>Tackle</td>
                <td class="col-vals">{{secondPlayerStats.tackle}}</td>
            </tr>
            <tr>
                <td>Jumping</td>
                <td class="col-vals">{{secondPlayerStats.jumping}}</td>
            </tr>
            <tr>
                <td>Stamina</td>
                <td class="col-vals">{{secondPlayerStats.stamina}}</td>
            </tr>

        </table>
</div>

<button id="home" type="button" class="btn" value="Go to home">Go to Home</button>